/* Reset styles to ensure no white borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

:root {
    /* #047B6C */
    --blue: #00544A;
    --secondary: #8e56a8;
    --lightblue: #f3eada;
    --darkblue: #01676f;
    --dark: #2f4858;
    --white: #ffffff;
}